body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: rgb(168, 113, 10);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.logo img {
    height: 50px;
}

.buscador {
    display: flex;
    align-items: center;
}

.buscador input {
    padding: 5px;
    font-size: 16px;
}

.buscador button {
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

nav {
    background-color: #333;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

main h1, main h2, main h3 {
    color: #333;
}

main p {
    line-height: 1.6;
}

main img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.color-options {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.color-options button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

/* Estilo del tema 1 */
.theme1 body {
    background-color: #e0f7fa;
}

.theme1 header {
    background-color: #00796b;
}

.theme1 .buscador button {
    background-color: #004d40;
}

/* Estilo del tema 2 */
.theme2 body {
    background-color: #fff3e0;
}

.theme2 header {
    background-color: #ff9800;
}

.theme2 .buscador button {
    background-color: #e65100;
}